<header class="header">
     <!-- Ham Menu -->

     <i class="fa fa-bars fa-2x menu-ham" onclick="openNav()"></i>
 
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a id="indexLinkHl" href="/">Home</a>
        <a id="shopLinkHl" href="shop">Shop/Buy</a>
        <a id="aboutLinkHl" href="/about">About</a>
        <a id="productsLinkHl" href="products">Products</a>
        <a id="contactLinkHl" href="contact">Contact</a>
    </div>

   
    
    
    <!-- Nav Soc -->
    
    <div class="nav-right">
        <div class="nav-right login">
            <% if (userName !== "") {%>
                <a href="user"><span class="user-welcome"><%=userName%></span></a>
            <%}%>     
            <a href="login"><button class="btn login-btn">Login</button></a>
             
        </div>
        <div>
       
            <ul style="list-style:none; padding-left: 0px;">
            
                
            
                <li class="button"><a href="email@artisanbakery.rf.gd"><img src="images/icons/email.svg"></a></li>
                <li class="button"><a href="http://www.facebook.com/"><img src="images/icons/fb.svg"></a></li>
                <li class="button"><a href="http://www.instagram.com/"><img src="images/icons/inst.svg"></a></li>

            </ul>
            <a href="index" class="home-btn">Home</a>
        </div>
    </div>
    
    
</header>