<style>
    #aboutLinkHl {
      color: #f1f1f1
    }
  </style>
<div class="main-cont">
    <div class="article-win">

        <img src="images/logo.jpg" class="logo">
        <h3 style="text-align:center;">Artisan Bakery</h3>


        <b>Artisan Bakery</b> is the company bringing that <b>great change</b> to you.
        <hr style="width:70%;">
        <br><br>
        <div class="image-about1"></div>
        <u>Our mission</u> is to help you enjoy healthy, productive live, by giving you tasty, nutritious food. Our mission is to eliminate sugar from the market but still providing great alternatives.
        Have you been trying to get rid of all that ubiquitos sugar?<br><br><br>Food after eating which you just fell like you need to rest, because of the huge amounts of sugar which ofcourse is so bad for your health.<br>
        Feeling guilty, feeling like you need a change to start living your best? but couldn't find anything right on the market. We have felt the same.<br>
        <p>Great! You have found the answear because Artisan Bakery is here to make it happen! We want to go with you through life providing you with best fuel which is food you eating, so you can focus on achiving your other amazing goals. No more compromising, because we give you now <b>best health</b>, <b>best taste!</b>
            <br>Still Sweet, but coiming from the right source like natural sweeteners, enhanced with right grains. Spreading energy you need throughout your whole day.
        </p>
        <hr style="width:70%;"><br>

        <div class="image-about2"></div>
        <p>Artisan Bakery is perfect innovative solution for your needs. We provide you with the best quality products. 100% set up to support your healthy leaving. We give you what you have been looking for so long. More power to you so you can make it happen!</p>
        <ul>
            <li>No <span style="color:red">sugar</span>!</li>
            <li>No <span style="color:red">gluten</span>!</li>
            <li>No <span style="color:red">artificial additives</span>!
            <li>We give you best products like our great healthy cookies or super teasty sourgdough bread!</li>
        </ul>

        <hr style="width:70%;">
        <br>

        <br>

        <div class="image-about3">

        </div>

        We share with you our desire for becoming your best today!.
    </div>

    <div class="article-win">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur neque beatae exercitationem pariatur error perspiciatis, ab nisi inventore tempora in sit veritatis iste ad voluptatibus, non sunt, magni repellendus distinctio.</div>
        <div>Quas sed maxime nostrum, vero pariatur animi. Error maxime, adipisci quam eos ut? Quam quae nisi deserunt nam est autem beatae eius, dignissimos expedita nulla saepe, sapiente facere rem deleniti!</div>
        <div>Cum sit deleniti officiis ipsum harum quam sequi dolorum! Dolores laboriosam a eius minima ipsum distinctio maxime, sunt consequatur dolorum quia nam tempora suscipit qui quod, delectus repudiandae at necessitatibus.</div>
        <div>Omnis ipsa eligendi dignissimos at consequuntur corporis repellendus voluptatem voluptas molestias autem vel ratione iusto dolorum sed quo, ab perferendis, molestiae accusantium. Culpa aperiam, facilis excepturi. Reiciendis sint delectus iusto.</div>
    </div>

</div>

