<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <style>

    </style>
</head>

<body>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
    <!-- Navigation menu -->
    <header class="header">
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="index.html">Home</a>
            <a href="shop.html">Shop/Buy</a>
            <a href="about.html">About</a>

            <a href="products.html">Products</a>
            <a href="contact.html" style="color: #f1f1f1;">Contact</a>
        </div>



        <!-- Ham Menu -->

        <i class="fa fa-bars fa-2x menu-ham" onclick="openNav()"></i>

        <a href="index.html" class="home-btn">Home</a>
        <!-- Nav Soc -->
        <div class="nav-right">
            <ul style="list-style:none;">
                <li class="button"><a href="email@artisanbakery.rf.gd"><img src="images/icons/email.svg"></a></li>
                <li class="button"><a href="http://www.facebook.com/"><img src="images/icons/fb.svg"></a></li>
                <li class="button"><a href="http://www.instagram.com/"><img src="images/icons/inst.svg"></a></li>

            </ul>

        </div>






    </header>

    <div class="main-cont">
        <div class="article-win">

            <img src="images/logo.jpg" class="logo">
            <h3 style="text-align:center;">Artisan Bakery</h3>


            <b>Artisan Bakery</b> - the company bringing that <b>great change</b> to you.
            <hr style="width:70%;">
            <br><br>







        </div>
    </div>
    <footer>
        <span>| 2021 | Made by: Lukasz Slawecki |</span>
    </footer>


</body></html>
