<div class="main-cont">
    <div class="article-win">

        <img src="images/logo.jpg" class="logo">
        <h3 style="text-align:center;">Artisan Bakery</h3>


        <b>Artisan Bakery</b> - the company bringing that <b>great change</b> to you.
        <hr style="width:70%;">
    

        <% if (userName !== "") {%>
            <a href="user"><span class="user-welcome"><h1>Loged in as <%= userName %></h1></span></a>
        <%}%>   

<h1>Login</h1>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>

<form action="/login" method="POST">
   
    <div><label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="email@email.co.uk" required></input>
    </div>
    <div><label for="password">Password</label>
        <input type="password" id="password" name="password" required></input>
    </div>
    
    <button class="btn btn-primary" type="submit">Login</button>
</form>

<a href="register">Register</a>





    </div>
</div>