<div class="main-cont">
    <div class="article-win">

        <img src="images/logo.jpg" class="logo">
        <h3 style="text-align:center;">Artisan Bakery</h3>


        <b>Artisan Bakery</b> - the company bringing that <b>great change</b> to you.
        <hr style="width:70%;">

<h1>Register</h1>

<form action="/register" method="POST">
    <div><label for="name">Name</label>
        <input type="text" id="name" class="cart-quantity-input" style="width:200px;" name="name" required></input></div>
    <div><label for="email">Email</label>
        <input type="text" id="email" name="email" required></input></div>
    <div><label for="password">Password</label>
        <input type="password" id="password" name="password" required></input></div>
    
    <button class="btn btn-primary" type="submit">Sign up</button>
</form>

<a href="login">Login</a>





    </div>
</div>