<div class="main-cont">
    <div class="article-win">

        <img src="images/logo.jpg" class="logo">
        <h3 style="text-align:center;">Artisan Bakery</h3>


        <b>Artisan Bakery</b> - the company bringing that <b>great change</b> to you.
        <hr style="width:70%;">
        <br><br>

        <% if (userName !== "") {%>
            Loged in as:<span class="user-welcome"><h1> <%=userName%></h1></span>
        <%}%>  
            <div><a href="/cart"><button class="btn btn-primary">go to cart</button></a></div>
        



    </div>
</div>