<div class="main-cont">
    <div class="article-win">

        <img src="images/logo.jpg" class="logo">
        <h3 style="text-align:center;">Artisan Bakery</h3>


        <b>Artisan Bakery</b> - the company bringing that <b>great change</b> to you.
        <hr style="width:70%;">
        <br><br>

<h1>Hello <%= userName %></h1>





    </div>
</div>