* {
    box-sizing: border-box;
}

body,
html {

    font: 400 17px/1.8 "Lato", sans-serif;
    color: #777;
    background-color: black;
    margin: 0px 0px;
    min-height: 100vh;
}


.header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: space-around;
    margin: 0px 0px;
    height: 15vh;
    min-height: 80px;
    position: relative;
    background: black;
}

/* The side navigation menu */

.menu-ham {
    position: fixed;
    align-self: flex-start;
    z-index: 1;
    color: #ffbf00;
    cursor: pointer;
    padding: 0;
    margin: 13px 20px;
    transition: 0.3s;

}

.menu-ham:hover,
.menu-ham:focus {
    transform: scale(1.2);
    color: #ffe200;
    outline: 0;
    margin: 17px 20px;

}

/*<span class= "menu-ham" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span> */
.nav-right {
    margin-right: 2vw;
}

.home-btn {
    position: absolute;
    bottom: 1vh;
    text-align: center;
    height: auto;
    color: #ffbf00;
    font-size: 15px;
    cursor: pointer;
    padding: 0px;
    text-decoration: none;
    right: 2vw;
    transition: 0.3s;
    outline: none;

}

.home-btn:hover {

    transform: scale(1.2);
    color: #ffe200;
    outline: 0;
}

.button {
    display: inline-block;
    width: 22px;
    height: 22px;
    padding: 0;
    border-radius: 3px;
    float: right;
    margin-top: 2px;
    font-size: 0px;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    background-color: #ffbf00;
    transition: 0.3s;

}






.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - 3 this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 2;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0vw;
    background-color: #111;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
    background: rgba(0, 0, 0, 0.9);
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(170, 170, 170);
    display: block;
    transition: 0.3s;


}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.center {
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translate(-30%, -50%);
    transform: translate(-50%, 0);
}





h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: rgb(17, 17, 17);
}

.main-cont {
    background-color: rgb(255, 215, 0);
    margin: 0px 0px;
    padding: 14px 0px;
    text-align: justify;
    min-height: 78vh;
}

.article-win {
    background-color: rgb(255, 255, 255);
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px -1px 4px 0px rgb(128, 128, 128, 1), 0px 0px 5px 0px rgb(128, 128, 128, 0.8);
    overflow-wrap: break-word;
}

.main-cont .article-win::after {
    content: "";
    clear: both;
    display: table;
}





footer {

    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    font-size: 0.7em;
}



[class*="image"] {
    display: block;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: rgb(245, 245, 220);
    margin: 0px 0px;
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.image1 {
    background-image: url("../images/shop.png");
    float: right;
}

.image2 {
    background-image: url("../images/cookies.jpg");
    float: right;
}

.image3 {
    background-image: url("../images/baker1.png");

    float: left;
}

.image2::after {
    content: "";
    clear: both;
    display: table;
}

.logo {
    float: right;
    padding: 5px;
    width: 100px;
    height: 100px;

}


.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5 {
    position: relative;


    /*background-image: rgba(0, 0, 0, 1);*/
}



.bgimg-1 {

    min-height: 80vh;
}

.bgimg-1::before {
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    content: "";
    filter: brightness(0.8);
    background-size: cover;
    opacity: 0.;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/1.jpg");
}


.bgimg-2 {

    height: 400px;
}

.bgimg-2::before {
    position: absolute;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/2.jpg");

}




.bgimg-3 {

    height: 400px;
}

.bgimg-3::before {
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/3.jpg");

}


.bgimg-4 {

    height: 400px;
}

.bgimg-4::before {
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/bgimg-3.jpg");
}

.bgimg-5 {

    height: 400px;
}

.bgimg-5::before {
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/5.jpg");
}







.welcome {
    position: absolute;
    /*background-color: #2e3428;
    border: 8px solid #141111;*/
    text-align: center;
    padding: 0px 0px;
    top: 25%;

}

.welcome div {
    padding: 20px 0px;
}

@keyframes glowing {
    0% {
        color: #white;
        background-color: #0d9595;
    }

    
    
    10% {
        transform: scale(1.1);
        transform: translate(-50%, -1%);

        color: #c1e2ef;
        border-color: rgb(206, 213, 222);
        background-color: rgba(82, 226, 215, 0.94);
        filter: blur(0.7px);
        box-shadow: 0px 0px 4px 0px rgb(38, 144, 144), 0px 0px 6px 0px #aaa7a7;
        transform: scale(0.99);
        
    }
    
    
     100% {
        color: #white;
        background-color: #0d9595;
    }

    
}


.cta-btn {
    display: block;
    position: sticky;
    position: -webkit-sticky;
    /* Safari */
    border: 1px solid #bebebe;
    color: white;
    background-color: #0d9595;
    font-size: 20px;
    border-radius: 6px;
    text-align: center;
    height: auto;
    width: 100px;
    top: 10%;
    margin: 30px 0px;
    right: 0%;
    outline: 0;
    cursor: pointer;
    animation: glowing 1500ms infinite;
    transition: 0.3s;
    animation-direction: alternate;
    transition-timing-function: ease-out;
    animation-iteration-count: 30;
    font-family: "Lato";
    font-family: sans-serif;






}

.cta-btn:hover {


    transform: scale(1.05);
    color: #c1e2ef;
    border-color: rgb(206, 213, 222);
    background-color: rgba(82, 226, 215, 0.94);
    filter: blur(0.4px);
    box-shadow: 0px 0px 4px 0px rgb(38, 144, 144), 0px 0px 6px 0px #aaa7a7;
    animation-play-state: paused;
    
}

.buy-container {
    position: absolute;
    height: 100%;
    width: auto;
    right: 0%;
    border: 0px;
    margin: 0px;
    padding: 1px;

}



@media only screen and (min-width: 768px) {
    [class*="image"] {
        width: 50%;
        margin: 0px 15px;
    }

    body {
        margin: 0px 0px;
    }

    .article-win {

        padding: 2px 150px 5px 150px;
    }

    .buy-container {
        left: 0%;
    }

    .bgimg-1 {
        margin: 0px -85px;
    }

    .welcome div {
        padding: 40px 10px;
    }

}


/* On smaller screens, where height is less than 450px, the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
        left: 0;
    }

    .sidenav a {
        font-size: 18px;
    }

    /* Turn off parallax scrolling for tablets and phones */
    /*.bgimg-1, .bgimg-2, .bgimg-3 {
                background-attachment: scroll;*/

}

/* On smaller screens, where height is less than 450px, the style of the sidenav (less padding and a smaller font size) */


@media(hover:hover) {
    .button:hover {
        transform: scale(1.2);

        background-color: #ffe200;

        /*border: 1px;*/
    }
}
