.section-header{
    text-align: center;
}

.shop-items {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;

}
.shop-item {
    margin: 30px;
}
.shop-item-title{
    display:block;
    width:100%;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
}
.shop-item-image{
    height: 250px;
    border-radius: 5px;
    border-width: 1px 1px 0px 0px;
    border-style: solid;
    border-color: rgb(245, 245, 220);
}
.shop-item-details{
    display:flex;
    align-items: center;
    padding: 5px 18px;
}
.shop-item-price{
    flex-grow: 1;
    color: #333;
    margin-left: 25px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.2em;
    color:#333;
    
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-left: 0.6em;
    margin-right: 0.6em;    
    padding-bottom: 5px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
    display:flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 0.1em;
}
.cart-price {
    width: 20%;
    display:flex;
    justify-content: center;
    font-size:1.2em;
    color:#333;
}
.cart-quantity{
    width: 35%;
    display:flex;
    justify-content: center;
}
.cart-item-title {
    color: #333;
    margin-left: 0;
    font-size: 1.2rem;
}

.cart-item-image{
    margin-top: 0.1em;
    width: 100px;
    height:auto;
    border-radius: 10px;
    
}

.btn-danger {
    color:white;
    background-color:#EB5757;
    border: none;
    border-radius: 0.3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 28px;
    width: 45px;
    border-radius:5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right:25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
    

}

.cart-row:last-child .cart-column{
    border: none;

}
.cart-total {
    text-align: end;
    margin-right: 5%;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color:black;
   
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.cart-icon{
    display: inline-block;
    width: 35px;
    height: 35px;   
    padding: 0;
    border-radius: 3px;
    /* float: right; */
    margin-top: 8px; 
    margin-right: 4px;        
    font-size: 0px;
    cursor: pointer;
    outline: 0;
    text-decoration: none;
    background-color: #ffbf00;
    transition: 0.3s;
   
       
    
    
    
    
    transition: 0.3s;
}
   .menu-cart{
       display:flex;
       position: relative;
       
       flex-direction: column;
       
        align-items: flex-end;
        
   }

   .badge{
       position:absolute;
       display: inline-block;
       padding: 0px 5px;
       top:3px;
       right:4px;
       
    
       background-color: #dddddd;
       border: none;
       outline: none;
       border-radius: 30%;
       
       
       
       font: large;
       color: #2D9CDB;
       font-size: large;
       font-weight: bold;
      
       
       align-items: center;
       justify-content: center;
   }
   .badge-btn{
    position: relative;
       outline:none;
       border: none;
       background: transparent;
   }