


    

    <div class="main-cont">
        <div class="article-win">

            <img src="images/logo.jpg" class="logo">
            <h3 style="text-align:center;">Artisan Bakery</h3>


            <b>Artisan Bakery</b> - the company bringing that <b>great change</b> to you.
            <hr style="width:70%;">
    
            <h2 class="section-header"> Products: </h2>
            <div class="shop-items">
                <div class="shop-item">
                    <span class="shop-item-title">Bread</span>
                    <img class="shop-item-image" src="http://source.unsplash.com/400x400?bread">
                    <div class="shop-item-details">
                        <span class="shop-item-price">£1.00</span>
                        <button type="button" class="btn btn-primary shop-item-button">Add to Cart</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Donut</span>
                    <img class="shop-item-image" src="http://source.unsplash.com/400x400?donuts">
                    <div class="shop-item-details">
                        <span class="shop-item-price">£0.50</span>
                        <button type="button" class="btn btn-primary shop-item-button">Add to Cart</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Sourdough</span>
                    <img class="shop-item-image" src="http://source.unsplash.com/400x400?sourdough">
                    <div class="shop-item-details">
                        <span class="shop-item-price">£2.00</span>
                        <button type="button" class="btn btn-primary shop-item-button">Add to Cart</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Cookie</span>
                    <img class="shop-item-image" src="http://source.unsplash.com/400x400?cookies">
                    <div class="shop-item-details">
                        <span class="shop-item-price">£0.70</span>
                        <button type="button" class="btn btn-primary shop-item-button">Add to Cart</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Best of</span>
                    <img class="shop-item-image" src="http://source.unsplash.com/400x400?bakery">
                    <div class="shop-item-details">
                        <span class="shop-item-price">£3.00</span>
                        <button type="button" class="btn btn-primary shop-item-button">Add to Cart</button>
                    </div>
                </div>
                <div class="shop-item">
                    <span class="shop-item-title">Buns</span>
                    <img class="shop-item-image" src="http://source.unsplash.com/400x400?buns">
                    <div class="shop-item-details">
                        <span class="shop-item-price">£1.50</span>
                        <button type="button" class="btn btn-primary shop-item-button">Add to Cart</button>
                    </div>
                </div>
            </div>
                
            <!--Cart-->
            <div class="cart">
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">Item</span>
                    <span class="cart-price cart-header cart-column">Price</span>
                    <span class="cart-quantity cart-header cart-column">Quantity</span>
                </div>
                
                <div class="cart-items">

                </div>
               
                <div class="cart-total">
                    <span class="cart-total-title">Total:</span>
                    <span class="cart-total-price">£0.00</span>
                </div>
            </div> 
        
            <button class="btn btn-primary btn-purchase" type="button">Purchase</button>
                   
                
            
        </div>
    </div>
    
