


    

    <div class="main-cont">
        <div class="article-win">

            <img src="images/logo.jpg" class="logo">
            <h3 style="text-align:center;">Artisan Bakery</h3>


            <b>Artisan Bakery</b> - the company bringing that <b>great change</b> to you.
            <hr style="width:70%;">
    
            <h2 class="section-header"> Products: </h2>
                <div class="shop-items">
                    <div class="shop-item">
                        <span class="shop-item-title">Bread</span>
                        <img class="shop-item-image" src="http://source.unsplash.com/400x400?bread">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$12</span>
                            <button type="button" class="btn btn-primary">Buy Product</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <span class="shop-item-title">Bread</span>
                        <img class="shop-item-image" src="http://source.unsplash.com/400x400?bread">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$12</span>
                            <button type="button" class="btn btn-primary">Buy Product</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <span class="shop-item-title">Bread</span>
                        <img class="shop-item-image" src="http://source.unsplash.com/400x400?bread">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$12</span>
                            <button type="button" class="btn btn-primary">Buy Product</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <span class="shop-item-title">Bread</span>
                        <img class="shop-item-image" src="http://source.unsplash.com/400x400?bread">
                        <div class="shop-item-details">
                            <span class="shop-item-price">$12</span>
                            <button type="button" class="btn btn-primary">Buy Product</button>
                        </div>
                    </div>

                </div>



        </div>
    </div>
  
