
    <script src="https://checkout.stripe.com/checkout.js" defer></script>

    <script src="js/store.js" defer></script>
    <script>
    var stripePublicKey = '<%= stripePublicKey %>'
    </script>
    
<div class="main-cont">
    <div class="article-win">

        <img src="images/logo.jpg" class="logo">
        <h3 style="text-align:center;">Artisan Bakery</h3>


        <b>Artisan Bakery</b> - the company bringing that <b>great change</b> to you.
        <hr style="width:70%;">
        
        <span>CART</span>
        <br>

         <!--Cart-->
         <div class="cart">
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">Item</span>
                <span class="cart-price cart-header cart-column">Price</span>
                <span class="cart-quantity cart-header cart-column">Quantity</span>
            </div>
            
            <div class="cart-items">

            </div>
           
            <div class="cart-total">
                <span class="cart-total-title">Total:</span>
                <span class="cart-total-price">£0.00</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button">Purchase</button>
        </div> 


    </div>   
        
        
</div>
        
